@use "../../css/style_settings.scss" as *;

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    background-color: $background_color;
    color: $text_color;
    
    line-height: 1.5;
    font-weight: 400;

    min-height: 100vh;
}

.App {
    display: grid;
    grid-template-columns: 0.25fr 1fr 0.25fr;
    grid-template-rows: 0.15fr auto 0.2fr;
}