/// Variables ///
 
// Colors
$background_color: #160a1d;
$background_color_light: #1d0e27;
$object_color: #3e284b;

$text_color: #EBEBE2;
$header_color: #C98A30;

$button_hover_color: #d19e57;

// Fonts
$header_font: Arial, Helvetica, sans-serif;
$text_font: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;